<nav class="nav">
    <a href="{{ site.baseurl }}">
      <div class="nav-logo"><span id="logo">shawn roos</span></div>
    </a>
  <ul class="nav-list" style="background-color:{{post.bg-color}};">
    <li id="nav"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    <li id="nav"><a href="{{ '/about' | prepend: site.baseurl }}">Contact</a></li>
    <li id="nav"><a href="https://twitter.com/shawnroos">Twitter</a></li>
    <li id="nav" ><a href="https://twitter.com/shawnroos">LinkedIn</a></li>
    <li id="nav"><a href="{{ site.baseurl }}/">Posts</a></li>
  </ul>
</nav>
