<div class="nav-section">
  <div class="nav-container">
    <ul class="nav-wrapper">
      <a href="{{ '/' | prepend: site.baseurl }}" class="logo"><img
          src="{{ '/assets/logonew.png' | prepend: site.baseurl }}" class="logo" alt="logo"></a>
    </ul>
    <ul class="nav-wrapper">
      <li class="nav"><a href="{{ '/posts' | prepend: site.baseurl }}/" class="light">Posts</a></li>
      <li class="nav"><a href="{{ '/now' | prepend: site.baseurl }}/" class="light">Work</a></li>
      <li class="nav"><a href="{{ '/now' | prepend: site.baseurl }}/" class="light">Now</a></li>
      <li class="nav"><a href="{{ '/about' | prepend: site.baseurl }}" class="light">About</a></li>
    </ul>
    <ul class="nav-wrapper">
      <li class="icon"><a href="https://twitter.com/shawnroos"><img class="icon-small"
            src="{{'/assets/twitter.png' | prepend: site.baseurl }}" alt="twitter"></a></li>
      <li class="icon"><a href="https://www.linkedin.com/in/shawnroos"><img class="icon-small"
            src="{{'/assets/linkedin.png' | prepend: site.baseurl }}" alt="linkedin"></a></li>
      <li class="icon"><a href="mailto:hey@shawnroos.com"><img class="icon-small"
            src="{{'/assets/email.png' | prepend: site.baseurl }}" alt="email"></a></li>
    </ul>
  </div>
</div>  