
body{
}

* {
  box-sizing: border-box;
}

main{
  display: block;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif; 

  &, .is-dark {
    color: $default-dark;
    opacity: 10;
  }

  & .is-light {
    color: $white;
    background-blend-mode: overlay;  
  }
}

h1 { 
  margin-block-start: 12vh;
  margin-block-end: 8vh;
  font-weight: 800;
  font-size: calc(24px + 1.8vw);
  line-height: 130%;
  letter-spacing: -0.2vw;
}  

h2 { 
  margin-block-start: 16vh;
  margin-block-start: 8vh;
  font-weight: 700;
  font-size: calc(16px + 1.8vw);
  line-height: 130%;
  letter-spacing: -0.05rem;
}  

h3 { 
  margin-block-start: 16vh;
  margin-block-start: 8vh;
  font-weight: 530;
  font-size: calc(14px + 1.2vw);
  line-height: 130%;
  letter-spacing: -0.05rem;
}  


h6 {   
  &.small-header{
    font-family: $sans-serif;
    letter-spacing: 0.4vmin;  
    text-transform: capitalize;
    font-weight: 530;
    font-size: 8px;
  }
}  

.title{
  color: $default-dark;
  
  &-mega{
    font-family: $sans-serif;
    font-weight: 800;
    font-size: calc(24px + 4vmin);
    line-height: 110%;
    letter-spacing: -0.2vmin;
    margin-block-start: 2vmin;
    margin-block-end: 3vmin;
    
    &.is-dark {
      color: $default-dark;
      opacity: 10;
    }
    
    &.is-light {
      color: $white;    
      }   

  }

  &-mega.title-only {
    font-family: $sans-serif;
    color: $default-dark;
    font-weight: 800;
    font-size: calc(32px + 12vmin);
    line-height: 100%;
    letter-spacing: -0.2vw;
    margin-block-start: 2vmin;
    margin-block-end: 3vmin;  

    &.is-dark {
      color: $default-dark;
      opacity: 10;
      }
    
    &.is-light {
      color: $grey-2;
      mix-blend-mode: hard-light;  
      }
  }
  
  &-large {
    font-family: $sans-serif;
    font-weight: 700;
    color: $default-dark;
    font-size: calc(10px + 1.5vmin);
    line-height: 120%;
    letter-spacing: -0.1vmin;
    margin-block-start: 0vh;
    margin-block-end: 0vh;   
    
    &:first-child {
      margin-block-start: 0rem;
    } 
  }
}

p {
  font-family: $sans-serif-secondary;
  font-weight: 330;
  color: $default-color;
  font-size: calc( 14px + 0.05vmin);
  line-height: 200%;  
  text-decoration: none;
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;


  &.large{
    font-family: $sans-serif-secondary;
    font-weight: 330;
    color: $default-shade;
    font-size: calc(10px + 0.8vmin);
    line-height: 200%;
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
    letter-spacing: -0.05vw;
    text-decoration: none;

    &.is-dark {
      color: $default-dark;
      opacity: 10;
      }
    
    &.is-light {
      color: $grey-2;
      mix-blend-mode: hard-light;  
      }
  }

  &.tiny{
    font-family: $sans-serif-secondary;
    font-weight: 530;
    font-size: calc(8px + 0.15vw);
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.03vw;
    text-decoration: none;
  }
}



a {
  font-family: $sans-serif-secondary;
  text-decoration: none;

  &.light{
    color: white;
  }
}

a.logo{
}

li.icon{  
  text-align: center;
  padding: 1vmin 0 1vmin 0;
  }
  
  
img{
  width: auto;
  max-width: 100%;
  margin-block-start: 5vh;
  
  &, .hero-image{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-block-start: 0vh;
    margin-block-end: 1.5vmin;
  }

  &.icon{
    width: 4vw;
    height: auto;
    margin: auto;

   &-small {
    width: 2vw;
    margin: auto;
    height: auto;
    border-radius: 999px;
    }
  }

  &.logo{  
    padding: 0 2vmin 0 2vmin;
    width: 100%;
    margin: auto;
    height: auto;
  }
}

.timestamp{
  margin-block-start: 2vh;
  display: inline-block;
  padding: 4px 6px 4px 6px;
  font-family: $serif-secondary;
  color: white;
  font-weight: 530;
  background-color: #000;
  font-size: calc(8px + 0.1vw);
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  text-decoration: none;
  margin-bottom: 1vw;
}

.is-dark {
  color: $default-dark;
  opacity: 10;
  }

.is-light {
  color: $default-dark;
  background-blend-mode: overlay;  
  }