
body{
}

* {
  box-sizing: border-box;
}

main{
  display: block;
}

mark {
  white-space:pre-wrap;
  background-color: #fff; 
  box-shadow: 0 0 0 2vh #fff;
}

.title{
  color: $default-dark;
  
  &-mega{
    font-family: $sans-serif-secondary;
    font-weight: 800;
    font-size: calc(32px + 1.8vw);
    line-height: 130%;
    letter-spacing: -0.2vw;
    margin-block-start: 0vh;
    margin-block-end: 0vh;  
  }

  &-mega.title-only {
    font-family: $sans-serif-secondary;
    font-weight: 800;
    font-size: calc(32px + 4vw);
    line-height: 100%;
    letter-spacing: -0.2vw;
    margin-block-start: 0vh;
    margin-block-end: 0vh;  
  }
  
  &-large {
    font-family: $sans-serif-secondary;
    font-weight: 700;
    color: $default-dark;
    font-size: calc(18px + 0.3vw);
    line-height: 120%;
    letter-spacing: -0.06vmin;
    margin-block-start: 0vh;
    margin-block-end: 0vh;   
    
    &:first-child {
      margin-block-start: 0rem;
    } 
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-secondary; 
  color: '${{post.text-color}}';
}

h1 { 
  margin-block-start: 12vh;
  margin-block-end: 8vh;
  font-weight: 800;
  font-size: calc(24px + 1.8vw);
  line-height: 130%;
  letter-spacing: -0.2vw;
}  

h2 { 
  margin-block-start: 16vh;
  margin-block-start: 8vh;
  font-weight: 700;
  font-size: calc(16px + 1.8vw);
  line-height: 130%;
  letter-spacing: -0.05rem;
}  

h3 { 
  margin-block-start: 16vh;
  margin-block-start: 8vh;
  font-weight: 530;
  font-size: calc(14px + 1.2vw);
  line-height: 130%;
  letter-spacing: -0.05rem;
}  




p {
  font-family: $sans-serif-secondary;
  font-weight: 330;
  color: $default-color;
  font-size: calc( 12px + 0.2vw);
  line-height: 200%;  
  text-decoration: none;
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;


  &.large{
    font-family: $sans-serif-secondary;
    font-weight: 330;
    color: $default-shade;
    font-size: calc(12px + 0.5vw);
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
    line-height: 200%;
    letter-spacing: -0.05vw;
    text-decoration: none;
  }

  &.tiny{
    font-family: $serif-secondary;
    font-weight: 530;
    font-size: calc(8px + 0.15vw);
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.03vw;
    text-decoration: none;
  }
}



a {
  font-family: $sans-serif-secondary;
  text-decoration: none;

  &.light{
    color: white;
  }
}

a.logo{
  position: absolute;
  top: 3vw;
  left: 0;
  width: 6vw;
}

li.icon{  
  text-align: center;
  padding: 1vmin 0 1vmin 0;
  }
  
li.logo{  
  position: absolute;
  top: 0;
  left:0;
}
  
img{
  width: auto;
  max-width: 100%;
  margin-block-start: 5vh;
  margin-block-end: 5vh;

  &.icon{
    width: 4vw;
    height: auto;
    margin: auto;

   &-small {
    width: 2vw;
    margin: auto;
    height: auto;
    border-radius: 999px;
    }
  }

  &.logo{  
    padding: 0 1vw 0 1vw;
    width: 100%;
    margin: auto;
    height: auto;
  }
}

.timestamp{
  margin-block-start: 2vh;
  display: inline-block;
  padding: 4px 6px 4px 6px;
  font-family: $serif-secondary;
  color: white;
  font-weight: 530;
  background-color: #000;
  font-size: calc(8px + 0.1vw);
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  text-decoration: none;
  margin-bottom: 1vw;
}

#dark {
  color: $default-dark;
  opacity: 10;
  }

#light {
  color: $default-dark;
  background-blend-mode: overlay;  
  }