.catalogue {

  &-container{
    width: 100%;
    background-color:  ;
  }

  &-item {
    color: $default-color;
    display: block;
    padding: 10rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 0;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time { 
    margin-bottom: -3rem;
    font-size: large;
    color: $default-tint;
    font-family: $serif-primary;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 9vw;
    line-height: 8vw;
    letter-spacing: -0.4vw;
    font-weight: 800;
    margin: .5rem 0;
  }

  & p {
    margin-block-start: 5rem;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 180%;
    width: 75%;
    max-width: 700px;
  }

  &-line {
    @include transition(all .3s ease-out);

  }
}
