.catalogue {

  &-container {
    width: 100vw;
    min-height: 80vh;
    flex: 1 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  &-content-100 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: auto;
    width: 100%;
    max-width: 1400px;
  }

  &-content-50 {
    flex-basis: 50%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
  }


  &-meta {
    color: $default-color;
    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 0;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time { 
    margin-bottom: -3rem;
    font-size: large;
    color: $default-tint;
    font-family: $serif-primary;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    display: block;
    mix-blend-mode: difference;
    font-family: $sans-serif;
    font-size: 9vw;
    line-height: 8vw;
    letter-spacing: -0.4vw;
    font-weight: 800;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);

  }
}
