.section {
  display: flex;
  overflow-y: visible;
  align-items: stretch;
  width: 90vmax;
  margin: auto 10vmin auto 10vmin ;
  padding: 10vmin 0 10vmin 0;
  min-height: 80vh;

}

.container {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: visible;
  align-content: flex-start;
  width: 90vw;
  max-width: 1600px;
  margin: auto;
  min-height: 80vh;
}

.column--{
  
  &60 {
    display: inline-flex;
    flex: 6 4 60vmin;
    align-self: start;
    padding: 0 8vmin 0 8vmin;
    align-items: stretch;

    &-sticky{
      position: sticky;
      display: inline-flex;
      top: 10vmin;
      flex: 6 4 60vmin;
      padding: 0 8vmin 0 8vmin;
      align-items: stretch;
    }
  }

  &40{
    flex: 4 6 40vmin;
    padding: 0 8vmin 0 8vmin;
    align-items: stretch;
  }
}
 
.wrapper--{

  &featured-post{
    display: flex;;
    overflow: hidden;
    padding: 5vmin;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 0; 
    min-height: 30vh;

    &.title-only{  
      min-height: 80vh;
    }
  }
  
  &featured-content{
    flex-direction: column;
    align-self: flex-end;
    min-height: 20vh;
  }

  &list-item{
    margin-bottom: 6vmin;
  }

  &header{
   margin-block-start: auto;
   padding-bottom: 2vmin;
   margin-block-end: 4vmin;
   border-bottom: solid 1px $grey-2;
  }
}

.nav{

  &-section {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 10vmin;
  padding: 10vmin 0 10vmin 0;
  background-color: rgb(31, 29, 29);
  }

  &-container{
  display: flex;
    flex-direction: column;  
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &, .nav-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 0 100%;  
  }

  &, .li{
      display: block;
      text-align: center;
      font-weight: 800;
      font-size: calc(6px + 0.2vw);
      padding-block-end: 2.5vmin;
      text-transform: uppercase;
      letter-spacing: 0.15vw;
      text-decoration: none;
    }
}

.pagination--{

  &compact {
    align-self: flex-end;
    margin-block-start: auto;
    padding-top: 2vmin;
    border-top: solid 1px $grey-2;
  }

}