.section {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  width: 97.5vw;
  margin-left: 3vw;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex: 0 0 80vw;
  margin: auto;
}

.column {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 3vw 0 3vw;
}

.featured{
    flex: 1 1 70%;

    &-image{
      margin-bottom: -5vh;
      max-width: 70%;
      height: auto;
    }
  }

.wrapper{
  flex: 1 1 auto;
  padding: 3vmin;
}

.nav{
  position: fixed;
  top: 0;
  margin: auto;
  height: 100vh;
  width: 2.5vw;
  max-width: 64px;
  min-width: 56px;
  padding: 3vmin;
  background-color: $default-dark;
  
  :first-child{
    margin-top: 0vh;  
  }

  & a {
  font-weight: 800;
  font-size: calc(8px + 0.05vmin);
  color: $grey-2;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.5vmin;
  }

  &-list{
    margin-top: 5vh;;
  }

  & #bottom{
    display: block;
    position: fixed;
    bottom: 0;
    padding-bottom: 3vmin;
    margin-left: 1.5vmin;
  }
}

li#nav {
  display: inline block;
  text-align: center;
  margin: auto;
  padding: 1.5vmin 0 1.5vmin 0;
  }

  
  img{
    height: 40vh;
    width: auto;
    margin:auto;

    &.logo{
      padding: 0vmin 0 0vmin 0;
      width: 64px;
      height: auto;
      margin: 0 -2.5vmin 0 -2.5vmin;
      border-radius: 999px;
    }

    &.icon{
      margin: auto;
      width: 32px;
      height: auto;
      background-color: $default-shade;
      border-radius: 999px;
    }

  }