.section {

   &-tall{
     display: flex;
     align-items: center;
     margin: 4vh 0 4vh 0;
     min-height: 80vh;
    }
}

.container {
  display: flex;
  flex: 0 0 100%;
  align-items: flex-start;
  
  &:first-child{
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  &-column {
    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
    padding: 0 4vw 0 4vw;
    align-self: flex-start;
  }   
}

.content{ 
  margin: auto;

   &-featured {
    }
}

.wrapper{
  flex-flow: column nowrap;
  margin-bottom: 2vw;
}

.nav {
    margin: 1vw 4vw 1vw 4vw;

    &-logo{
      display: inline-flex;
      margin-right: 4rem;
    }

    &-list {
    display: inline-flex;
    } 
}

.span#logo {
  font-family: $sans-serif-secondary;
  font-weight: 800;
  font-size: calc(8px + 0.25vw);
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}