.pagination {
  display: flex;
  padding-top: 1vmin;
  border-top: solid 1px $grey-2;
  font-family: $sans-serif;
  letter-spacing: 0.4vmin;  
  text-transform: uppercase;
  font-weight: 530;
  font-size: 8px;

  span {
    flex: 4 1 ;
    color: $default-shade;
    font-size: 8px;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-family: $sans-serif;
    font-size: 1.1rem;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;
    position: absolute;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
