  
.post.container > .col50 {

    & > p{ 
      font-family: $sans-serif-secondary;
      font-weight: 400;
      color: $default-color;
      font-size: calc( 18px + 0.25vmin);
      line-height: 200%;  
      letter-spacing: -0.05vmin;
      text-decoration: none;
      margin-block-start: 2vh;
      margin-block-end: 2vh;
    }

    & > ul {
      list-style: none;
      list-style-position: outside;
  
      & > li{
        position: relative;
        padding-left: 5vmin;

        &::before {
          content: ""; 
          position: absolute;
          left: 0;
          top: 8px;
          width: 16px;
          height: 16px;
          background-size: 16px;
          background-image: url('/assets/Bullet.svg');
          text-align: center;
        }
      }
    }

    & > ol {
      list-style: none;
      list-style-position: outside;
      counter-reset: my-awesome-counter;
      
      > li {
        position: relative;
        counter-increment: my-awesome-counter;
        padding-left: 5vmin;  
        
        &::before {
          content:counter(my-awesome-counter) ".";
          font: $sans-serif;
          position: absolute;
          display: inline-flex;
          justify-content: center;
          color: $default-dark;
          font-weight: 900;
          font-size: 10px;
          line-height: 18px;
          left: 0;
          top: 8px;
          width: 16px;
          height: 16px;
          border-top: solid 2px $default-dark;
          border-right: solid 2px $default-dark;
          background-size: 16px;
          background-size: contain;
          text-align: center;
        }
      }
    }
}

img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
