{% include head.html %}

{% for post in site.posts limit:1 %}
<body style="background-color:{{post.bg-color}};"> 
{% endfor %}

{% include navigation.html %}

{% for post in site.posts limit:1 %}
<div class="section">
  <div class="container">
    <div class="column featured">
      <div class="wrapper"><a href="{{page.url | prepend:'site.url'}}">
        <img class="featured-image" src="{{post.image}}" alt="image"></img>
        <h1 class="title-mega mark"><mark style="background-color:{{post.bg-color}};">{{post.title}}</mark></h1>
        <p class="large">{{post.excerpt}}</p>
      </div></a>
      {% endfor %}
    </div>
    <div class="column">
      {% for post in site.posts limit:4 offset:1 %}
      <div class="wrapper"><a href="{{page.url | prepend:'site.url'}}">
        <p class="tiny">{{site.time | date_to_string }}</p>
        <h1 class="title-large"> {{ post.title }}</h1>
          <p>{{post.excerpt | truncate: 24, ' →' }}</p>
      </div></a>
      {%endfor%}
    </div>
  </div>
</div>
</body>