---
layout: default
---

<div class="hero section " style="background-color:{{page.bg-color}};">
  <div class="hero container">
    <div class="hero col60">
      <div class="wrapper-hero">
        <h2 class="title mega-title"> {{page.title}}</h2>
        <p class="large">{{page.excerpt | truncatewords: 20, '…' }}</p>
      </div>
    </div>
    <img class="hero" src="{{ page.image }}"></img>
  </div>
</div>  

{{ content }}

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>