---
layout: default
---

<div class="post">
  {% if page.image !="none" %}
  <div class="post hero" style="background-color: {{page.bg-color}};">
    <img class=" post hero" src="{{ page.image }}" alt="image"></img>
    <h1 class="title-mega"><mark>{{ page.title }}</mark></h1>
  </div>
  {% else %}
  <div class="post hero headline-only">
    <h1 class="title-mega">{{ page.title }}</h1>
  </div>
  {% endif %}
  {{ content }}
</div>    


{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>