---
layout: default
---

<div class="post">
  <div class="hero">
    <img class="hero-image" src="{{site.baseurl}}/{{page.image}}" style="background-color: {{page.bg-color}} ;" alt="image"></img>
    <h1 class="title-mega"><mark>{{ page.title }}</mark></h1>
  </div>
  {{ content }}
        <div class="post-info">
            {% if page.date %}
            <div class="timestamp">{{site.time | date_to_string }}</div>
            {% endif %}
        </div>
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>